---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Container } from '../../components/Container';

const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) =>
  a.data.meta.date.getTime() - b.data.meta.date.getTime()
);
---

<BaseLayout title="Mike Cousins - Cancer Posts">
  <Container className="mt-16 sm:mt-32">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
      Cancer Journey
    </h1>
    <div class="flex flex-col gap-4 mt-4">
      {sortedPosts.map((post) => (
        <div>
          <a
            href={`/posts/${post.id.replace('.md', '')}`}
            class="hover:underline decoration-orange-500 underline-offset-4"
          >
            <span>{post.data.meta.title}</span>
            <span class="float-right text-gray-600 italic">
              {format(post.data.meta.date, 'MMMM do, yyyy')}
            </span>
          </a>
        </div>
      ))}
    </div>
  </Container>
</BaseLayout>
