---
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const props = Astro.props;
---

<a
  class="text-flare-400 underline decoration-flare-700/60 underline-offset-2 transition-colors hover:text-flare-300"
  {...props}
>
  <slot />
</a>
